{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Lato:wght@100&family=Montserrat:wght@500;800&family=Mulish&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header">
        <div class="container header__flex">
            <div>
                <img src="" alt="">
            </div>
            <nav class="nav">
                <ul>
                    <li class="nav__li">
                        <a class="nav__link" href="{% url 'home'%}">
                            Головна/
                        </a>
                    </li>
                    <li  class="nav__li">
                        <a class="nav__link " href="{% url 'players'%}">
                            Ігроки/
                        </a>
                    </li>
                    <li  class="nav__li">
                        <a class="nav__link" href="/gallery">
                            Галерея/
                        </a>
                    </li>
                    <li class="nav__li">
                        <a class="nav__link" href="/contact">
                            Контакти/
                        </a>
                    </li>
                    <li class="nav__li">
                        <a class="nav__link" href="/bloh">
                            Блог/
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}


</body>
</html>